/* Custom styles for the datepicker popup */
.custom-datepicker-popup {
  background-color: #f1dcb7;
  border-radius: 16px;
  border-color: #b7a484;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

/* Custom header styles */
.custom-datepicker-popup .react-datepicker__header {
  background-color: #f1dcb7;
  color: #7a5530;
  padding: 10px 15px;
  border-radius: 6px 6px 0 0;
  border-color: #7a5530;
  text-align: center;
  font-weight: bold;
  .react-datepicker__current-month,
  .react-datepicker__day-name {
    color: #7a5530;
  }
}

/* Navigation buttons in the header (previous/next month arrows) */
.custom-datepicker-popup .react-datepicker__navigation {
  background-color: #7a5530;
  color: white;
  border-radius: 50%;
}

.custom-datepicker-popup .react-datepicker__navigation--previous,
.custom-datepicker-popup .react-datepicker__navigation--next {
  font-size: 18px;
  padding: 5px;
}

.custom-datepicker-popup .react-datepicker__navigation--previous {
  .react-datepicker__navigation-icon--previous::before {
    right: -4px;
    top: 8px;
  }
}

.custom-datepicker-popup .react-datepicker__navigation--next {
  .react-datepicker__navigation-icon--next::before {
    left: -5px;
    top: 8px;
  }
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: #f1dcb7;
}

/* Custom styling for the days */
.custom-datepicker-popup .react-datepicker__day {
  color: #7a5530;
  font-size: 14px;
}

.custom-datepicker-popup .react-datepicker__day:hover {
  background-color: #b7a484;
  color: #fff;
}

/* Style the selected day */
.custom-datepicker-popup .react-datepicker__day--selected {
  background-color: #7a5530;
  color: #fff;
}

/* Style the month/year picker */
.custom-datepicker-popup .react-datepicker__current-month {
  color: #fff;
  font-weight: bold;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle {
  fill: #f1dcb7;
  color: #f1dcb7;
}
